body {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #c6c6c6;
}
@media screen and (min-width: 48rem) {
  .header {
    padding: 1.5rem;
  }
}

.logo {
  display: block;
  margin: auto;
  width: 138px;
  height: 10px;
}

.product-title {
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (min-width: 48rem) {
  .product-title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: .5rem;
  }
}

.product-showcase {
  display: flex;
  overflow-x: scroll;
  margin: 0 -.5rem;
}
@media screen and (min-width: 48rem) {
  .product-showcase {
    margin: 0;
  }
}

.product-showcase img {
  width: 300px;
  height: 400px;
}
@media screen and (min-width: 48rem) {
  .product-showcase img {
    width: 432px;
    height: 576px;
  }
}

.product-recommendations {
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 48rem) {
  .product-recommendations {
    padding-right: .5rem;
    padding-bottom: 2rem;
    padding-left: .5rem;
  }
}

.product-recommendations-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding-bottom: .5rem;
  line-height: 1.1875rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #171717;
}
@media screen and (min-width: 48rem) {
  .product-recommendations-title {
    margin-bottom: 1rem;
  }
}

.product-recommendation {
  display: block;
  margin-bottom: 2rem;
}

.product-recommendation-img {
  display: block;
  width: 100%;
  height: auto;
}

.product-recommendation-name {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.19;
}

.product-recommendation-price {
  margin: 0;
  line-height: 1.17;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  text-align: left;
  color: #999999;
}

@media screen and (min-width: 48rem) {
  .product-recommendations-more {
    display: none;
  }
}

.product-recommendations-link {
  display: block;
  margin-bottom: 1rem;
  line-height: 1.0625rem;
  font-size: .875rem;
  font-style: italic;
  text-decoration: none;
  color: inherit;
}

.footer {
  background: #f3f3f3;
  padding: 0 .5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.footer-nav {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer-nav {
    flex-basis: 100%;
    display: block;
    padding-top: 0;
  }
}

.footer-nav-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
  line-height: .875rem;
  text-transform: uppercase;
}

.footer-nav-link {
  display: block;
  margin-bottom: .75rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: 600;
  line-height: 1.4;
  text-decoration: none;
  color: #999999;
}

.footer-button-text {
  display: block;
  margin-top: 1rem;
  padding: 0;
  line-height: 1rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  background: transparent;
  border: none;
  color: #999;
}
@media screen and (min-width: 48rem) {
  .footer-button-text {
    display: inline-block;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
  }
}

.footer-need-help {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.1875rem;
  font-size: 1rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .footer-need-help {
    display: none;
  }
}

.footer-link-contact {
  display: block;
  font-size: .875rem;
  line-height: 1.0625rem;
  font-family: 'Lora', serif;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
@media screen and (min-width: 48rem) {
  .footer-link-contact {
    display: none;
  }
}
