html {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #c6c6c6;
}

.logo {
  display: block;
  margin: auto;
  width: 138px;
  height: 10px;
}

.product-title {
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 20px;
  line-height: 1.2;
}

.product-showcase {
  display: flex;
  margin-top: 1rem;
  overflow-x: scroll;
}

.product-props {
  margin-top: 1rem;
  padding: 0 1rem;
  padding-bottom: 3rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
}

.product-price-id-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  margin: 0;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.product-id {
  margin: 0;
  margin-right: 1px;
  font-size: 0.75rem;
  line-height: .875rem;
}

.product-color-name,
.product-color-buttons {
  margin: 1rem 0;
  font-size: 0.75rem;
  line-height: 1rem;
}

.product-id,
.product-color-name {
  font-size: 12px;
}

.product-color-buttons {
  display: flex;
}

.product-color-button {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

.product-color-button-active {
  border: solid 1px #232122;
}

.product-color-button-brown {
  background-color: #232122;
}

.product-color-button-honey {
  background-color: #cfa880;
}

.product-props-divider {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #c6c6c6;
}

.product-props-buttons {
  display: flex;
  flex-wrap: wrap;
}

.product-props-button {
  flex-basis: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  line-height: .875rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: 0.75rem;
  letter-spacing: normal;
  text-transform: uppercase;
  border-radius: 2px;
}

.product-props-button-size-select {
  background: #171717;
  border: solid 1px #171717;
  color: white;
}

.product-props-button-store-find {
  background: #fff;
  border: solid 1px #999999;
}

.product-props-button-size-help {
  margin-top: 1.5rem;
  margin-bottom: 1px;
  padding: 0;
  padding-top: 1px;
  width: auto;
  line-height: .875rem;
  text-align: left;
  border: none;
  background: transparent;
}

.product-description,
.product-shipping {
  display: flex;
  padding: 2rem 1rem;
  padding-bottom: 30px;
  flex-wrap: wrap;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.product-description-button-toggle,
.product-shipping-button-toggle {
  display: flex;
  flex-basis: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: baseline;
  border: none;
  outline: none;
  background: transparent;
}

.product-shipping-title,
.product-description-title {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size: 1rem;
  line-height: 1.25rem;
}

.product-description-content {
  margin-top: 2rem;
  font-size: .875rem;
  line-height: 1.5rem;
}

.product-description-content ul,
.product-description-content p,
.product-description-content li {
  margin: 0;
  padding: 0;
  font-size: .875rem;
  line-height: 1.5rem;
  list-style: none;
}

.product-shipping {
  border-top: none;
  padding-bottom: 31px;
}

.product-shipping-title {
  line-height: 21px;
}

.product-recomendations {
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.product-recomendations-title {
  flex-basis: 100%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.product-recomendations-title * {
  display: inline-block;
  padding-bottom: 8px;
  margin: 0;
  line-height: 1.1875rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #171717;
}

.product-recomendations-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.product-recomendations-card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  box-sizing: border-box;
}

.product-recomendations-card {
  padding-right: .875rem;
}

.product-recomendations-card:last-child {
  padding-right: 0;
  padding-left: .875rem;
}

.product-recomendations-card-img {
  display: block;
  width: 130px;
  height: 174px;
}

.product-recomendations-card-name {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.19;
}

.product-recomendations-card-price {
  margin: 0;
  margin-left: 1px;
  line-height: 1.17;
  font-size: 12px;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  text-align: left;
  color: #999999;
}

.product-recomendations-link {
  display: block;
  margin-bottom: 1rem;
  line-height: 17px;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  color: inherit;
}

footer {
  background: #f3f3f3;
  padding: 1rem;
}

.footer-button-text {
  display: block;
  margin-top: 1rem;
  padding: 0;
  line-height: 1rem;
  font-size: 0.75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  background: transparent;
  border: none;
  outline: none;
  color: #999;
}

.footer-need-help {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.1875rem;
  font-size: 1rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
  text-align: center;
}

.footer-link-contact {
  display: block;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.0625rem;
  font-family: 'Lora', serif;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
