html {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #c6c6c6;
}
@media screen and (min-width: 48rem) {
  header {
    padding: 1.5rem;
  }
}

.logo {
  display: block;
  margin: auto;
  width: 138px;
  height: 10px;
}

.container-fullwidth {
  width: auto;
}

.product-title {
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: .5rem;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (min-width: 48rem) {
  .product-title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: .5rem;
  }
}

.product-showcase {
  display: flex;
  overflow-x: scroll;
}

.product-showcase img {
  width: 300px;
  height: 400px;
}

@media screen and (min-width: 48rem) {
  .product-showcase img {
    width: 432px;
    height: 576px;
  }
}

.product-props {
  margin-top: 1rem;
  padding: 0 1rem;
  padding-bottom: 3rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
}
@media screen and (min-width: 48rem) {
  .product-props {
    margin-top: 0;
    padding: 0;
  }
}

.product-price-id-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  margin: 0;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.product-id {
  margin: 0;
  font-size: 0.75rem;
  line-height: .875rem;
}

.product-color-name,
.product-color-buttons {
  margin: 1rem 0;
  font-size: 0.75rem;
  line-height: 1rem;
}

.product-id,
.product-color-name {
  font-size: .75rem;
}

.product-color-buttons {
  display: flex;
}

.product-color-button {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  font-size: 0;
  border: none;
  border-radius: 50%;
}

.product-color-button-active {
  border: solid 1px #232122;
}

.product-color-button-black {
  background-color: #232122;
}

.product-color-button-honey {
  background-color: #cfa880;
}

.product-props-divider {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #c6c6c6;
}

.product-props-buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  flex-basis: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  line-height: .875rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: .75rem;
  letter-spacing: normal;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn-dark {
  background: #171717;
  border: solid 1px #171717;
  color: white;
}

.btn-light {
  background: #fff;
  border: solid 1px #999999;
}

.product-props-button-size-help {
  margin-top: 1.5rem;
  margin-bottom: 1px;
  padding: 0;
  padding-top: 1px;
  width: auto;
  line-height: .875rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: .75rem;
  text-align: left;
  border: none;
  background: transparent;
}

.accordion {
  display: flex;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}
@media screen and (min-width: 48rem) {
  .accordion {
    border: none;
    border-top: 1px solid transparent;
    padding: 1.5rem .5rem;
  }
}

.accordion::after {
  position: absolute;
  content: url(../assets/triangle-down.svg);
  right: 1rem;
}
@media screen and (min-width: 48rem) {
  .accordion::after {
    display: none;
  }
}

.accordion-active::after {
  transform: rotate(180deg);
}

.accordion-btn-toggle {
  display: flex;
  flex-basis: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: baseline;
  border: none;
  outline: none;
  background: transparent;
}

.accordion-title {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .accordion-title {
    margin-bottom: 1rem;
  }
}

.accordion-content {
  display: none;
  margin-top: 2rem;
  font-size: .875rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .accordion-content {
    display: flex;
    margin-top: 0;
  }
}

.accordion-active > .accordion-content {
  display: block;
}

.accordion-content ul,
.accordion-content p,
.accordion-content li {
  margin: 0;
  padding: 0;
  font-size: .875rem;
  line-height: 1.5rem;
  list-style: none;
}

.product-accordion-shipping {
  border-top: none;
  margin-bottom: 1.9375rem;;
}
@media screen and (min-width: 48rem) {
  .product-accordion-shipping {
    margin-bottom: .5rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.product-accordion-shipping .accordion-title {
  line-height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .product-accordion-shipping .accordion-title {
    display: none;
  }

  .product-accordion-shipping .product-delivery-title {
    display: block;
    line-height: 1.18rem;
  }
}

.product-delivery-subtitle {
  margin: 0;
  margin-bottom: .25rem;
  line-height: .875rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
}

.product-delivery-text {
  margin-bottom: 1.5rem!important;
  line-height: 1.35!important;
  font-size: .75rem!important;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
}

.img-shipping-box {
  display: block;
  width: 100%;
}

.product-recommendations {
  padding-top: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 48rem) {
  .product-recommendations {
    padding-right: .5rem;
    padding-bottom: 2rem;
    padding-left: .5rem;
  }
}

.product-recommendations-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding-bottom: .5rem;
  line-height: 1.1875rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #171717;
}
@media screen and (min-width: 48rem) {
  .product-recommendations-title {
    margin-bottom: 1rem;
  }
}

.product-recommendation {
  display: block;
  margin-bottom: 2rem;
}

.product-recommendation-img {
  display: block;
  width: 100%;
  height: auto;
}

.product-recommendation-name {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.19;
}

.product-recommendation-price {
  margin: 0;
  line-height: 1.17;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  text-align: left;
  color: #999999;
}

@media screen and (min-width: 48rem) {
  .product-recommendations-more {
    display: none;
  }
}

.product-recommendations-link {
  display: block;
  margin-bottom: 1rem;
  line-height: 1.0625rem;
  font-size: .875rem;
  font-style: italic;
  text-decoration: none;
  color: inherit;
}

footer {
  background: #f3f3f3;
  padding: 1rem;
}
@media screen and (min-width: 48px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-right: .5rem;
    padding-bottom: 2rem;
    padding-left: .5rem;
  }
}

.footer-nav {
  display: none;
}
@media screen and (min-width: 48px) {
  .footer-nav {
    flex-basis: 100%;
    display: block;
    padding-top: 0;
  }
}

.footer-nav-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
  line-height: .875rem;
  text-transform: uppercase;
  color: #171717;
}

.footer-nav-link {
  display: block;
  margin-bottom: .75rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: 600;
  line-height: 1.4;
  text-decoration: none;
  color: #999999;
}

.footer-button-text {
  display: block;
  margin-top: 1rem;
  padding: 0;
  line-height: 1rem;
  font-size: .75rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  background: transparent;
  border: none;
  outline: none;
  color: #999;
}
@media screen and (min-width: 48rem) {
  .footer-button-text {
    margin-top: 1.25rem;
    margin-right: 1.5rem;
  }
}

.footer-need-help {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.1875rem;
  font-size: 1rem;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .footer-need-help {
    display: none;
  }
}

.footer-link-contact {
  display: block;
  margin-bottom: 1rem;
  font-size: .875rem;
  line-height: 1.0625rem;
  font-family: 'Lora', serif;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
@media screen and (min-width: 48rem) {
  .footer-link-contact {
    display: none;
  }
}
